// COLORS
$primary-color: #9f1919;
$secondary-color: #844d47;

$white-color: rgb(250, 238, 238);

$dark-grey: #b8b6b6;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size:2rem;
$big-font-size: 4rem;
$mid-font-size: 3rem;
